body{
    background-image: url(img2974_Hero_LegalTech2019.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    background-position:center center;
}
h2{
    text-align: center;
    padding: 10px;
}
#homepage-card{
    border:none;
}
.homepage-container{
margin-top: 15%;
margin-left:20%;
margin-right:20%;
}
.contact-container{
    align-items: center;
    height: 50%;
    margin-top:10%;
    margin-left:20%;
    margin-right:20%;
    }
.other-container{
        align-items: center;
        height: 50%;
        margin-top:10%;
        margin-left:10%;
        margin-right:10%;
        }
#homepage-card{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:300%;
    background-color:whitesmoke;
}
#navbar{
    align-content: right;
}
section {
    background:white;
    border: solid whitesmoke 10px;
    opacity:0.85;
    margin-bottom:25%;
}
img {
    padding:20px;
}
.row1 {
    padding:10px;
}
html, body {
    height: 100%;
    margin: 0;
  }
  .container {
    min-height: 100%;
  }
.blank {
    border:solid white;
}
input[type=submit] {
    background-color:#c1e1f8;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
}
#navbarText{
    font-size:30px;
    text-shadow:
		-1px -1px 0 gray,
		1px -1px 0 gray,
		-1px 1px 0 white,
		1px 1px 0 white;
}
#navbar{
    margin-top:10px;
}
